.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #525557; /* temporary */
    background-color: #13151A;
    padding: 2rem;
    color: #D0D1D1;
    width: max-content;
}

.form-field {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 1px;
}

.form-field input {
    margin: 1px;
    flex-grow: 2;
    width: 55%;
}

.form-field label {
    margin: 1px;
    flex-grow: 1;
    width: 35%;
}

.form-submit {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 1px;
}

.form-submit input {
    border: 1px solid #B0B3B2;
    background-color: #717576;
    margin: 1px;
    padding: 1px;
    width: 50%;
    transition: 0.3s;
}

.form-submit input:hover {
    background-color: #919494;
}

.form-input-field {
    border: none;
    background-color: #717576;
    color: #D0D1D1;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #13151A , #D0D1D1, #13151A);
    border-image-slice: 1;
}
