/* The sidebar menu */
.sidenav {
    /* Sidebar behaviour */
    height: 100%; /* Full-height: remove this if you want "auto" height */
    max-width: 160px; /* Set the width of the sidebar */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    /* Sidebar behaviour */

    font-family: 'Roboto', sans-serif;
    background-color: #13151a;
    color: #D0D1D1;
    font-size: 1.2rem;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
}

.sidenav-element-container {
    margin-top: 0.4rem;
    transition-duration: 0.3s;
}

.sidenav-element-container a {
    padding-left: 1rem;
    text-decoration: none;
    color: #e3e3e3;
}

.sidenav-element-container a:hover {
    color: #588da8;
}

.sidenav-top-element {
}

.sidenav-bottom-element {
    padding-bottom: 0.5rem;
}

.eih-version {
    font-size: small;
    padding-left: 1rem;
}
