<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header.ejs', {title: 'Signup'}); %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<%- include('components/sidebar.ejs', {user: undefined}); %>
<main>

    <div class="login-container">
        <div class="form-container top-container">
            <form action="/signup" method="post">
                <div class="form-field">
                    <label>Username</label>
                    <input class="form-input-field" type="text" name="username"/><br/>
                </div>
                <div class="form-field">
                    <label>Password</label>
                    <input class="form-input-field" type="password" name="password"/>
                </div>
                <div class="form-field">
                    <label>Check</label>
                    <input class="form-input-field" type="password" name="password_check"/>
                </div>
                <div class="form-submit">
                    <input type="submit" value="Register"/>
                </div>
            </form>
        </div>
    </div>

</main>
</body>
</html>
