<!-- views/header.ejs -->
<meta charset="UTF-8">
<title>Eve Industry Helper - <%= title %></title>
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

